{% extends "/pages/base.html.jinja" %}
{% block header %}Sturmbaum{%
endblock %}
{% block content %}
<div class="p-2 mb-4 bg-body-tertiary rounded-3 container-fluid">
    <div class="container-fluid py-5">
        <div class="col-md-10">
            <p>Hi there!</p>
        </div>
    </div>
</div>
{% endblock %}